body{
    font-family: "Gill Sans", sans-serif;
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 150px;
}

h1{
    font-family: Montserrat-Black;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.5;
}

.navbar-brand{
    margin-bottom: 3%;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 0;
    
}

.nav-item{
    font-size: 1rem;
    font-weight: lighter;
}

h1{
    color: #fff;
    font-size:  2.5rem;
    font-weight: bolder;
}

.navbar{
    padding-left: 0;
}

download-button{
    padding:   5% 3% 3% 0;
    margin: 10px;
}

.rotation{
    transform: rotate(25deg);
}
.ret{
    position: absolute;
    width: 60%;
}

#features{
    line-height: 2;
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-icon{
    color: #ef8172;
}
.clr:hover{
    color: blue;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    line-height: 1.5;
    font-size:3rem;
    font-weight: bold;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
    
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.card-style{
    margin: 50px;
    width: 300px;
    height: 400px;
}

@media (max-width: 1024px)
{
    .rotation{
        transform: rotate(0deg);
    }
    .ret{
        position: static;
    }
    #title{
        text-align: center;
    }
    .download-button{
        margin: 50px 0;
    }
}

#cta{
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
    
}
.h3{
    font-size: 3rem;
    font-weight: bolder;
    margin: 30px;
    color: white;
}

#footer{
    padding: 7% 15%;
    text-align: center;
    
}
.contact-icon{
    margin: 20px 10px;
}
